#wrapper {
    width:1000px;
 
}
#first {
    border: 2px red solid;
    width:200px;
    float:left;
}
#second {
    border: 2px yellow solid;
    width:300px;
    float:left;
}
#third {
    background-color:#bada55;
    border: 2px blue solid;
    width:200px;
    float:left;
}

#clear {
    clear: both;
}