.container {
	width: 90%;
	height: 180px;
	
	margin-bottom: 10px;
	text-align: center;
	background-color: #ff0;
}

.boxes1 {
	width: 20%;
	height: 177px;
	border: 2px dashed red;
	margin: 0px 10px;
	display: inline-block;
	float:left;
}

.boxes2 {
	width: 20%;
	height: 177px;
	border: 2px dashed red;
	margin: 0px 10px;
	display: inline-block;
}

.boxes3 {
	width: 20%;
	height: 177px;
	border: 2px dashed red;
	margin: 0px 10px;
	display: inline-block;
	float:right;
}
