.xyz {
	height:500px;
	width:800px;
	background-color:navy;
	font-size:100px;
}

.hi {
	
	background-color:green;
	height:100px;
	width:800px;
}
.hii {
	background-color:red;
	height:300px;
	width:100px;
}
.hiii {
	background-color:orange;
	height:100px;
	width:800px;
