.a {
    width: 500px;
    margin: auto;
}
.b {
    width: 200px;
    float: left;
    height: 300px;
    background-color: blue;
    border-style:dotted;
    border-color:red;
}
.c {
    width: 200px;
    float: left;
    height: 300px;
    background-color: green;
    color: white;
    border-style:dotted;
    margin-left: 20px;
    border-color:red;
}

